html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  background-color: #0A0A0F;
}

a {
  color: inherit;
}

.hidden {
  display: none;
}

*, .unselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

main {
  display: flex;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}
main nav {
  margin: 0;
  display: flex;
  filter: blur(0);
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  transition: filter 333ms ease-in;
  border-radius: 12px;
  background-color: #0A0A0F;
  overflow: hidden;
}
main nav.inactive {
  pointer-events: none;
  filter: blur(2px);
}
main nav a.work {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}
main nav a.work span.title {
  opacity: 0.6;
  margin: 8px;
  text-align: center;
  pointer-events: none;
  z-index: 1;
  transform: rotate(-30deg);
}
main nav a.work span.title.broken {
  color: orange;
  opacity: 0.4;
}

article {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
}
article .player-wrapper {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3em;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  box-shadow: 0 0 1px 0 rgba(255, 255, 255, 0.5);
}
article .player-wrapper .prev, article .player-wrapper .next, article .player-wrapper .close {
  width: 24px;
  height: 24px;
  bottom: -32px;
  border-radius: 24px;
  text-align: center;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  cursor: pointer;
}
article .player-wrapper .prev:hover, article .player-wrapper .next:hover, article .player-wrapper .close:hover {
  color: black;
  background-color: white;
}
article .player-wrapper .prev {
  left: 0;
}
article .player-wrapper .next {
  right: 0;
}
article .player-wrapper .close {
  transform: translate(-12px, 0);
  left: 50%;
}
article .player-wrapper .title, article .player-wrapper .description {
  position: absolute;
}
article .player-wrapper .title {
  color: rgba(255, 255, 255, 0.6);
  top: 1em;
}
article .player-wrapper .description {
  color: rgba(255, 255, 255, 0.3);
  bottom: 1em;
}
article .player-wrapper .description.broken {
  color: orange;
}

.hexagon {
  position: absolute;
  width: 80px;
  height: 46.19px;
  background-color: #1A1A2A;
  margin: 23.09px 0;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 23.09px solid #1A1A2A;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 23.09px solid #1A1A2A;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  border: 4px solid transparent;
  background-clip: padding-box;
  -webkit-border-radius: 6px;
  background-color: #1A1A2A;
}

.ruffle {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 8px;
  left: 8px;
  color: rgba(255, 255, 255, 0.6);
}
.ruffle a {
  display: flex;
  flex-direction: column;
}
.ruffle .status {
  margin: 8px 0 0 0;
  color: orange;
}
.ruffle img {
  margin: 2px 0 0 0;
  transform-origin: top left;
  width: 80px;
}

h1 {
  top: 0;
  right: 16px;
  padding: 0 8px;
  transform: rotate(-90deg);
  transform-origin: right bottom;
  pointer-events: none;
  position: absolute;
  color: #8888AA;
  background-color: #1A1A2A;
  margin: 0 0 8px 0;
  font-size: 14px;
}

/*# sourceMappingURL=style.css.map */
